# Kconfig - PineTime Devkit board configuration
#
# Copyright (c) 2019 Neil Armstrong
#
# SPDX-License-Identifier: Apache-2.0

config  BOARD_PINETIME_DEVKIT
	bool "PineTime Devkit"
	depends on SOC_NRF52832_QFAA
